.nav {
    grid-area: b;
    background-color: red;
    border-radius: 5px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    padding-bottom: 20px;
}

.item a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.item a.active {
    color: gold;
}